$accent: #B53471;
$white: #F1E8E8;
$dark-purple: #310C24;
$black: #1A0612;
$purple: #511734;

$bx-accent: 0 4px 4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0,0,0, 0.16);
$bx-10: 0 3px 6px rgba(0, 0, 0, 0.1 )

