@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
	background-color: $black;
	padding: 0;
	margin: 0;
	color: #fff;
    font-family: 'Roboto', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	&:focus {
		outline: none;
	}
}

*::-webkit-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}
*:-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*::-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

html,
body {
	height: 100%;
}


img {
	max-width: 100%;
}

.img-responsice {
	display: block;
	max-width: 100%;
	height: auto;
}

#root {
	height: 100%;
}

.select2-selection {
	cursor: pointer !important;
	&__control {
		margin-bottom: 1.2rem;
		border-radius: 10px !important;
		min-height: 48px !important;
		background-color: $purple !important;
		border: 1px solid transparent !important;
		color: $white;
		font-size: 16px;
		width: 100%;

		&--is-focused {
			border-color: transparent !important;
			box-shadow: 0 0 0 1px rgba($accent, 0.3) !important;
		}
	}

	&__menu {
		background-color: $purple !important;
		border-radius: 10px !important;

		&-list {
			padding: 0 !important;
			border-radius: 10px !important;
		}

		&-notice {
			color: #946e86 !important;
		}
	}


	&__option {

		&--is-focused {
			background-color: darken($purple, 7%) !important;
		}
		&--is-selected {
			background-color:darken($purple, 8%) !important;
		}
	}

	&__indicator:hover {
		color: $white !important;
	}

	&__placeholder {
		color: #946e86 !important;
		margin-left: 6px !important;
	}

	&__single-value {
		color: $white !important;
	}

	&__input {
		color: $white !important; 
	}

	&__multi-value {
		border-radius: 6px !important;
		background-color: lighten($purple, $amount: 7%) !important;

		&__label {
			color: $white !important;
		}

		&__remove:hover {
			background-color: #8b2557 !important;
			color: $white !important;
		}
	}
}


.dark-link {
	display: block;
	text-align: right;
	text-decoration: none;
	width: 100%;
	margin-bottom: 0.5rem;
	color: $purple;
	transition: color 0.3s ease;

	&:hover {
		color: $accent;
	}
}

.wrapper-inner-page {
    padding: 50px 90px;
    text-align: center;
	max-width: 560px;
	width: 100%;
	margin: 0 auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}