@import '../../../sass/variables';

.wrapperButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >div {
        width: 48%;
        >button {
            width: 100%;
        }

        &:last-child > button {
            background-color: #20366b;
            opacity: 0.8;
            transition: opacity 0.3s ease;

            &:hover {
                background-color: #2d4b92;
                opacity: 1;
            }
        }
    }
}
