.link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(102, 167, 224);
    transition: color 0.4s ease;

    &:hover {
        color: rgb(141, 92, 72);
    }
}