@import '../../../sass/variables';

.input {
    background-color: $purple;
    border: 1px solid transparent;
    color: $white;
    font-size: 16px;
    padding: 14px;
    margin-bottom: 1.5rem;
    outline: none;
    border-radius: 10px;
    width: 100%;

    &:focus {
        border-color: rgba($accent, 0.3);
    }

    &::placeholder {
        color: #946e86;
    }
}