.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding: 30px;
    height: 890px;

    max-width: 560px;
    width: 100%;
    margin: 0 auto;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}